* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #4cb8c4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3cd3ad,
    #4cb8c4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3cd3ad,
    #4cb8c4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Epilogue", Arial, Helvetica, sans-serif;
}
h1 {
  margin: 3rem 0;
}
button:focus {
  outline: none;
}
textarea:focus,
input:focus {
  outline: none;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paper {
  background: white;
  border-radius: 15px;
  margin: auto;
  min-height: 75vh;
  margin-bottom: 10vh;
  padding-bottom: 3%;
  max-width: 900px;
}
form {
  min-height: 6rem;
}
form input {
  color: rgb(32, 32, 32);
  padding: 0.8rem;
  font-size: 1.5rem;
  background: white;
  background: rgb(226, 226, 226);
  border-radius: 10px;
  margin-right: -2rem;
  height: 3rem;
  font-family: "Epilogue", Arial, Helvetica, sans-serif;
  width: 95%;
  max-width: 500px;
  border: none;
}
form i {
  position: relative;
  top: -1px;
}

form button {
  background: #4cb8c4;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  font-family: "Epilogue", Arial, Helvetica, sans-serif;
}
form button:hover {
  background: #57d1df;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  width: 100%;
  max-width: 800px;
  list-style: none;
}
.todo {
  background: rgb(240, 240, 240);
  padding: 5px;
  color: rgb(32, 32, 32);
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.todo:nth-child(even) {
  background: rgb(226, 226, 226);
}
.todo:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
}

.todo li {
  flex: 1;
}
.trash-btn,
.completed-btn {
  background: rgb(202, 64, 64);
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 10px;
  margin: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  font-family: "Epilogue", Arial, Helvetica, sans-serif;
}
.completed-btn {
  background: rgb(57, 177, 57);
}
.completed-btn:hover {
  background: rgb(66, 204, 66);
}
.trash-btn:hover {
  background: rgb(238, 72, 72);
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.fa-trash {
  position: relative;
  top: 1px;
}
.completed {
  text-decoration: line-through;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(32, 32, 32);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(32, 32, 32);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(32, 32, 32);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
